
# Byte-compiled
__pycache__/
*.pyc

# test coverage
.coverage
cover/

# IDE
.idea

/db.sqlite3

# migrations
vocabs/migrations/*
bib/migrations/*
webpage/migrations/*
places/migrations/*


# Ipython Notebook checkpoints
.ipynb_checkpoints

# production(like) settings files
mysql.py
server.py
postgres.py
dev_secret.py

# documentation build files

/docs/_*/*
/vocabs/data/spreadsheets/cv_burial.xlsx
/db_copy.sqlite3
/Untitled.ipynb
/whatVanessaHasToWrite.txt
