{% extends "webpage/base.html" %}
{% load staticfiles %}
{% block title %} {{ object.title }} {% endblock %}
{% block content %}

<div class="container">
    <div class="panel panel-default procustom-panel-create">
        <div class="panel-heading procustom-panel-heading">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h1 style="text-align: center;">
                        <small>Buch:</small> {{ object.title }}
                        {% if user.is_authenticated %}
                        <small><a href="{% url 'bib:book_edit' pk=object.zoterokey %}">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="edit"></span>
                        </a>
                        </small>
                    {% endif %}
                    </h1>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <div class="panel-body">
            <legend>Angaben zum Buch</legend>
            <table class="table table-bordered table-hover">
                <tr>
                    <th>
                        Zoterokey
                    </th>
                    <td>
                        <a href="{{object.get_zotero_url}}">{{object.zoterokey}}</a>
                    </td>
                </tr>
                <tr>
                    <th>
                        Item type laut Zotero-Eintrag
                    </th>
                    <td>
                        {{ object.item_type }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Autor*innenname laut Zotero-Eintrag
                    </th>
                    <td>
                        {{ object.author }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Autor*innenname
                    </th>
                    <td>
                        {% for x in object.book_author.all %}
                            <li>
                                <a href="{% url 'browsing:person_detail' pk=x.id %}">{{ x }}</a>
                            </li>
                        {% endfor %}
                    </td>
                </tr>
                {% if object.siglum %}
                <tr>
                    <th>
                        Sigle des publizierten Werks (laut Handkeonline)
                    </th>
                    <td>
                        {{ object.siglum }}
                    </td>
                </tr>
                {% endif %}
                {% if object.publication_title %}
                <tr>
                    <th>
                        Publikationstitel
                    </th>
                    <td>
                        {{ object.publication_title }}
                    </td>
                </tr>
                {% endif %}
                {% if object.short_title %}
                <tr>
                    <th>
                        Kurztitel
                    </th>
                    <td>
                        {{ object.short_title }}
                    </td>
                </tr>
                {% endif %}
                {% if object.publication_year %}
                <tr>
                    <th>
                        Jahr der Veröffentlichung
                    </th>
                    <td>
                        {{ object.publication_year }}
                    </td>
                </tr>
                {% endif %}
                {% if object.pub_place.all %}
                <tr>
                    <th>
                        Ort der Veröffentlichung
                    </th>
                    <td>
                        {% for x in object.pub_place.all %}
                            <li>
                                <a href="{% url 'places:place_detail' pk=x.id %}">{{ x }}</a>
                            </li>
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
                {% if object.book_gnd %}
                <tr>
                    <th>
                        GND-ID des Buchs
                    </th>
                    <td>
                        {{ object.book_gnd }}
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <th>
                        Book Type
                    </th>
                    <td>
                        {% for x in object.book_type.all %}
                            <li>
                                {{ x }}
                            </li>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>related works</th>
                    <td>
                        {% for x in object.publication_of_work.all %}
                            <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
