{% extends "webpage/base.html" %}
{% load staticfiles %}
{% block title %} Details für '{{object.text|truncatechars:33}}' {% endblock %}
{% block content %}

<div class="container">
    <div class="panel panel-default procustom-panel-create">
        <div class="panel-heading procustom-panel-heading">
            <div class="row">
                <div class="col-md-2">
                {% if object.get_prev %}
                    <h2>
                        <a href="{% url 'browsing:quote_detail' pk=object.get_prev %}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true" title="previous"></span></a>
                    </h2>
                {% endif %}
                </div>
                <div class="col-md-8">
                    <h1 style="text-align: center;">
                        <small>quote:</small> <blockquote>{{ object }}</blockquote>
                        {% if user.is_authenticated %}
                        <small><a href="{% url 'bib:quote_edit' pk=object.id %}">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="edit"></span>
                        </a>
                        </small>
                    {% endif %}
                    </h1>
                </div>
                <div class="col-md-2">
                {% if object.get_next %}
                    <h2>
                        <a href="{% url 'browsing:quote_detail' pk=object.get_next %}" style="float:right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" title="next"></span></a>
                    </h2>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="panel-body">
            <legend>Quelle</legend>
            <table class="table table-bordered table-hover">
                <tr>
                    <th>
                        Titel
                    </th>
                    <td>
                        {{ object.book_source }}, S. {{ object.startpage }}-{{ object.endpage }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Werk
                    </th>
                    <td>
                        {% for x in object.book_source.publication_of_work.all %}
                            <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>
                        Foreign Lemmas
                    </th>
                    <td>
                        {% for x in object.has_lemma.all %}
                                <abbr title="{{ x.language }}"><a href="{{ x.get_absolute_url }}">{{ x }}</a></abbr>
                                <ul>
                                    {% for y in x.german.all %}
                                        <li>
                                            <a href="{{ y.get_absolute_url }}">{{ y }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                        {% endfor %}
                    </td>
                <tr>
            </table>

            <legend>Analyze</legend>
            <blockquote>
                {{ object.serialize_quote|safe }}
            </blockquote>
            <table class="table table-bordered table-hover">
                <tr>
                    <th>
                        Sprachen
                    </th>
                    <td>
                        {% for x in object.has_chunks.all %}
                            <li>
                                {{ x.language }}
                            </li>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>
                        Sprecher
                    </th>
                    <td>
                        {% for x in object.has_chunks.all %}
                            {% for y in x.speaker.all %}
                                <li>
                                    {{ y }}
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
