{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% load news_extras %}
{% block content %}
    <div class="container text-center">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="{% static 'webpage/img/ACDH_Panorama_Postkarte_motiv01.jpg' %}" alt="First" width="1200" height="600" title="by Sandra Lehecka" />
                    <div class="carousel-caption"></div>
                </div>
                <div class="item">
                    <img src="{% static 'webpage/img/ACDH_Panorama_Postkarte_motiv02.jpg' %}" alt="a nice feature picture" width="1200" height="600" title="by Sandra Lehecka" />
                    <div class="carousel-caption"></div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"></a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"></a>
        </div>
        <h1 style="text-align:center">{% projects_metadata 'title' %}</h1>
        <h3>{% projects_metadata 'subtitle' %}</h3>
        <p>{% projects_metadata 'description' %}</p>

        <div class="row">
            <div class="col-md-8">
                <h3><b>News items</b></h3>
                {% newsfeed_bootstrap_panel %}
            </div>

            <div class="col-md-4">
              <h3><b><a href="https://twitter.com/search?q=%23digEdsCat" style="color: black;">#digEdsCat</a> on Twitter</b></h3>
              <div class="panel panel-default news-wrapper">
                <div class="panel-heading">
                  </div>
                  <div class="panel-body">
                <a class="twitter-timeline"  href="https://twitter.com/hashtag/digEdsCat" data-widget-id="855092028652257281" data-chrome="transparent noheader" >Catalogue tweets</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
