{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load webpage_extras %}
{% load stats_extras %}
{% load news_extras %}
{% block content %}
    <div class="container text-center">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="{% static 'webpage/img/1508240795.png' %}" alt="First" width="1200" height="600" title="by Vanessa Hannesschläger" />
                    <div class="carousel-caption"></div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"></a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"></a>
        </div>
        <h3><a href="about">{% trans "ein Forschungsprojekt zu Fremdsprachen in den Bühnentexten von Peter Handke"|capfirst %}</a></h3>
        <h3>{% trans "Data Count"|capfirst %}</h3>
        {% create_object_count app='bib' as models %}
        {% for x in models %}
        {% if x.name != 'Bücher'%}
        <div class="col-lg-4 col-md-4 col-sm-6 grid-item type-one">
            <div class="div-tile">
                {% if x.link %}
                    <a href="{{ x.link }}"><h5>{{x.name}}</h5></a>
                    {% else %}
                    <h5>{{x.name}}</h5>
                {% endif %}
                <hr class="hrtile">
                <h5 class="count">{{x.count}}</h5>
            </div>
        </div>
        {% endif %}
        {% endfor %}

        {% create_object_count app='words' as models %}
        {% for x in models %}
        <div class="col-lg-4 col-md-4 col-sm-6 grid-item type-one">
            <div class="div-tile">
                {% if x.link %}
                    <a href="{{ x.link }}"><h5>{{x.name}}</h5></a>
                    {% else %}
                    <h5>{{x.name}}</h5>
                {% endif %}
                <hr class="hrtile">
                <h5 class="count">{{x.count}}</h5>
            </div>
        </div>
        {% endfor %}

        {% create_object_count app='places' as models %}
        {% for x in models %}
        {% if x.name != 'Alternative Ortsbezeichnungen'%}
        <div class="col-lg-4 col-md-4 col-sm-6 grid-item type-one">
            <div class="div-tile">
                {% if x.link %}
                    <a href="{{ x.link }}"><h5>{{x.name}}</h5></a>
                    {% else %}
                    <h5>{{x.name}}</h5>
                {% endif %}
                <hr class="hrtile">
                <h5 class="count">{{x.count}}</h5>
            </div>
        </div>
        {% endif %}
        {% endfor %}

        <div class="row">
            <div class="col-md-8">
                <h3><b>{% trans "Nachrichten"|capfirst %}</b></h3>
                {% newsfeed_bootstrap_panel %}
            </div>

            <div class="col-md-4">
              <h3><b><a href="https://twitter.com/search?q=%23digEdsCat" style="color: black;">@HandkeinZungen</a> {% trans "auf Twitter" %}</b></h3>
              <div class="panel panel-default news-wrapper">
                <div class="panel-heading">
                  </div>
                  <div class="panel-body">
                <a class="twitter-timeline" data-height="300" href="https://twitter.com/HandkeinZungen?ref_src=twsrc%5Etfw">Tweets by HandkeinZungen</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            </div>
            </div>
        </div>
    </div>
    <script>
    // code taken from https://codepen.io/shivasurya/pen/FatiB
    $('.count').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 2000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });
    </script>
{% endblock %}
